.navbar {
  width: 100vw;
  height: 30px;
  padding: 20px;
  position: absolute;
  top: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 240, 239);
}

.logo {
  margin: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: rgb(8, 92, 83);
}

.contactButton {
  color: rgb(231, 240, 239);
  background-color: rgb(8, 92, 83);
  margin: 30px;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
}

.contactButton:hover {
  color: rgb(231, 240, 239);
  background-color: rgb(10, 78, 71);
  margin: 30px;
  padding: 12px;
  border-radius: 5px;
  font-size: 1rem;
}
